# Object file
*.o

# Ada Library Information
*.ali
/obj/
/bin/
/alire/
/config/
/rtl/work/
*.log
*.jou
*.log
dfx_runtime.txt
/rtl/.Xil
/rtl/ip/cam_clk/cam_clk.gen

# Vivado XSim transient files
xelab.pb
xvhdl.pb

